/*Bottone Login*/

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.info_page {
  background: linear-gradient(to left bottom, #fd664e, #fe8258);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 900px;
}

.login_form {
  background: #ffffff;
  align-items: center;
  margin: 0;
  padding: 0;
}

.welcomeText {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 55px;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  padding-top: 250px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: auto;
  margin: 0;
}

.form-signin {
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 200px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.logo {
  width: 120px;
  height: 120px;
  fill: #FD664E;
}

.emailAdress {
  margin-bottom: 30px;
}


html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizelegibility

html, body
  height: 100%



button {
  display: inline-block
  background: none
  border: none
  backface-visibility: hidden
  padding: 1em 2em
  font-size: 1.5em
  font-weight: 600
  font-family: inherit
  letter-spacing: .05em
  text-transform: uppercase
  text-decoration: none
  color: #F5F5F5
  transition: color .2s
  box-shadow: inset 0 0 0 $border-width #F5F5F5, 0 0 1px 1px rgba(black,.25)
  text-shadow: 0 0 2px rgba(black,.5)
  position: relative
  overflow: hidden
  cursor: pointer!important
}
